.container {
    width: 25%;
    min-width: 300px;
    max-height: 96%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    overflow-y: auto;
    overflow-x: hidden;
}

.category-container {
    width: 93%;
    height: 100%;
    border-radius: 10px;
    background-color: #59C07B;
    color: black;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    padding: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1%;
}

.category {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.arrow-up {
    width: 0%;
    height: 0%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
    border-radius: 4px 4px 4px 4px;
}

.arrow-down {
    width: 0%;
    height: 0%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
    border-radius: 4px 4px 4px 4px;
    transform: rotate(180deg);
}

.plant-container {
    width: 93%;
    max-height: 35%;
    border-radius: 10px;
    background-color: #59C07B;
    color: black;
    display: flex;
    /* justify-content: flex-end; */
    font-size: 25px;
    padding: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1%;
}

.plant-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

.plant-container p {
    font-size: small;
    margin-top: 1%;
}

.plant-container strong {
    font-size: small;
    margin-top: 2%;
    font-weight: bold;
}

.plant-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plus-button {
    width: 40px;
    height: 20px;
    border-radius: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #59C07B;
    cursor: pointer;
}

