/* potted-plant-black-outline-illustration-on-transparent-background-free-png 1 */

#root {
    height: 100vh;
}

.garden-map {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}
.garden-map .map-container {
    flex-grow: 1;
}
.garden-map .map {
    position: absolute;
}
.garden-map .add {
    display: flex;
    padding:5%;
    flex-direction: column;
}

.add .add-plant {

    box-sizing: border-box;
    border-radius: 50%;

    margin: 10%;

    width: 120px;
    height: 120px;
    left: 59px;
    top: 259px;

    background: #2C9C0D;
    border: 2px solid #000000;
    background-image: url('../../assets/plant.svg');
    background-position: center;
}

.add .add-building {
    box-sizing: border-box;
    border-radius: 50%;
    margin: 10%;

    width: 120px;
    height: 120px;
    left: 59px;
    top: 441px;

    background: #B1C216;
    border: 2px solid #000000;
    background-image: url('../../assets/house.svg');
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.add .add-water {
    box-sizing: border-box;
    border-radius: 50%;
    margin: 10%;

    width: 120px;
    height: 120px;
    left: 59px;
    top: 632px;


    
    background: #0DB1D2;
    border: 2px solid #000000;
    background-image: url('../../assets/water-drop-png-plumbing-sewer-repair-septic-service-36.png');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;

 
}

.add .add-other {
    box-sizing: border-box;
    border-radius: 50%;
    margin: 10%;

    width: 120px;
    height: 120px;
    left: 59px;
    top: 822px;

    background: #A0A4A5;
    border: 2px solid #000000;
    background-image: url('../../assets/other.svg');
    background-position: center;
    background-repeat: no-repeat;

}

.garden-map .garden-barChart {
    flex-grow: 1;
    padding: 5%;
    width: 1041px;
    height: 371px;
    left: 357px;
    top: 734px;
}



.garden-stats .bg-1 {
    margin: 1%;
    background: #929292;
}

.garden-stats .bg-1 .stat {
    width: 313px;
    height: 40px;
    left: 153px;
    top: 23px;

    background: #FF0F0F;
}

.garden-stats .bg-2 {
    margin: 1%;
    background: #929292;
}

.garden-stats .bg-3 {
    margin: 1%;
    background: #929292;
}

.garden-stats .bg-4 {
    margin: 1%;
    background: #929292;
}

.garden-stats .bg-4 .stat {
    width: 482px;
    height: 40px;
    left: 153px;

    background: #19C90D;
}

/* .garden-stats .bg-3 .stat {
    width: 783px;
    height: 40px;
    left: 153px;


    background: #2EB5FE;
} */

/* .garden-stats .bg-2 .stat {
    width: 712px;
    height: 40px;
    left: 153px;
    top: 308px;

    background: #F5DD0C;
} */


