.Header {
    width: 100%;
    position: relative;
  }
  
  .Banner {
    background-color: #59C07B;
    color: #000000;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 4px solid black;
  }
  
  .Banner h1 {
    font-size: 28px;
    margin: 0;
  }
  
  .hamburger {
    position: absolute;
    left: 20px;
    font-size: 26px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .Boarder {
    height: 1%;
    background-color: #2C9C0D;
    border: solid black;
  }
  
  .sidebar {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #59C07B;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.9);
    z-index: 999;
  }
  
  .nav-link {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin: 5px 0;
    font-weight: bold;
    border-radius: 4px;
  }
  